* {
  font-family: sans-serif;
}
.top-bar {
  background-color: rgb(255, 255, 255);
  height: 2rem;
}
body {
  margin: 0;
  padding: 0;
}
.cover {
  height: 12rem;
  width: 100%;
  object-fit: cover;
}
.logo {
  width: 4rem;
  height: 2rem;
}

.img-team {
  height: 200px;
  width: 350px;
}
h1,
h2 {
  text-align: center;
}

.p-tag-div {
  max-width: 50%;
  padding: 10px 10px;
}
.ul {
  margin-top: 0.5rem;
}
.center-content {
  display: flex;
}
a {
  text-decoration: none;
}
h4 {
  margin: 0.2rem 0rem;
}
.job-list {
  margin: 0.2rem;
}
.loc {
  color: gray;
}
.j1,
.j2,
.j3 {
  display: flex;
  justify-content: space-between;
}

.apply {
  padding-right: 2rem;
}
.footer {
  background-color: rgb(173, 171, 171);
  width: 100%;
  padding-top: 1rem;
  text-align: center;
}
ol {
  list-style: none;
}
.footer-content {
  text-align: center;
  margin-right: 1rem;
}
ol li {
  margin: 0px 18px;
  display: inline;
  justify-content: center;
}
ol {
  margin: 0;
  margin-bottom: 3px;
}
.copyright {
  text-align: center;
}
.two-parts {
  max-width: 800px;
  margin: 0 auto;
}
